{{#if isTitle}}
<h1>Next Deploy</h1>
<p class="screens">
  A continuous development solution!
</p>
<!-- <a href="https://github.com/ricofehr/nextdeploy" class="btn btn-outline btn-lg"><span class="fa fa-github"></span> View on GitHub</a> 
<ul class="jumbotron-links simplify">
  <li><iframe src="https://ghbtns.com/github-btn.html?user=ricofehr&amp;repo=nextdeploy&amp;type=watch&amp;count=true" class="social-share"></iframe></li>
</ul>
-->
{{/if}}
        