<div class="row section">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1>Roadmap&nbsp;<a href="https://trello.com/b/dVdgtJxE/nextdeploy" target="_blank"><img src="/images/trello.png"/></a></h1><br/>
        <p style="text-align:left;">
        Some features are still missing and are planned for future releases.<br/>
        </p>
    <p style="text-align:left;">
    <article class="note note-partial">
    <h2 class="note-title" style="text-align:left;">April 2016</h2>
    <div class="note-excerpt">
        <ul>
            <li>Optimize time creating vms</li>
            <li>Vnc terminal in webui</li>
            <li>Export and Import features for vms</li>
            <li>Monitoring graph reports available for each users</li>
        </ul>
    </div>
    </article>
    </p>
    <p style="text-align:left;">
    <article class="note note-partial">
    <h2 class="note-title" style="text-align:left;">May 2016</h2>
    <div class="note-excerpt">
        <ul>
            <li>Add hosting part for the prod</li>
            <li>New cli commands</li>
            <li>Ux improvements</li>
            <li>Backup feature</li>
        </ul>
    </div>
    </article>
    </p>
    <p style="text-align:left;">
    <article class="note note-partial">
    <h2 class="note-title" style="text-align:left;">June 2016</h2>
    <div class="note-excerpt">
        <ul>
            <li>Writing mocks and validation process</li>
            <li>More OS: ubuntu 16.04</li>
            <li>More frameworks: Zend framework</li>
            <li>Recode Unitary tests for REST api</li>
            <li>Improve android app</li>
        </ul>
    </div>
    </article>
    </p>
    <p style="text-align:left;">
    <article class="note note-partial">
    <h2 class="note-title" style="text-align:left;">July / August 2016</h2>
    <div class="note-excerpt">
        <ul>
            <li>More frameworks: Ror</li>
            <li>Work on high availability process</li>
            <li>More frameworks: Django</li>
            <li>Improve Documentation</li>
        </ul>
    </div>
    </article>
    </p>

    </div>
</div>