<div class="row section">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1><span><center>Features</center></span></h1><br/>
        {{#if isPage1}}
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-cloud"></i> Openstack Cloud</h2>
                <p style="text-align:left;">
                    The project uses a cloud to host vms. 
                    Curently, NextDeploy is working with openstack.
                </p>
            </div>

            <div class="col-md-6">
                <h2><i class="fa fa-sliders"></i> Puppet Patterns </h2>
                <p style="text-align:left;">
                    The users ask to test and install their web application on a vm.
                    These installation templates are defined with the puppet tool.
                </p>
            </div>
        </div>
        <p><div class="navbar-fixed-bottom">
  <div class="col-xs-2 col-xs-offset-6 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-6">
  <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 2}} href=""></a>
  </div>
</div></p>
        {{/if}}
        {{#if isPage2}}
        <div class="row">
            <div class="col-md-6">
                <h2><i class="fa fa-code-fork"></i> Git Repository</h2>
                <p style="text-align:left;">
                     Users need a code repository to store their work.
                     Git is used for versioning of project developments. Gitlab manager is installed for these needs.
                </p>
            </div>

            <div class="col-md-6">
                <h2><i class="fa fa-diamond"></i> REST api</h2>
                <p style="text-align:left;">
                    A REST API is the intermediary between these 3 systems (Cloud, Puppet, Git) and can manage users, projects, and of course the launch of vms.
                </p>
            </div>
        </div>

        <p><div class="navbar-fixed-bottom">
  <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
  <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 1}} href=""></a>
  </div>
</div></p>
        {{/if}}
    </div>
</div>
