<div class="row section">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <h1><span><center>What is NextDeploy ?</center></span></h1><br/>
    <p style="text-align:left;">
    <article class="note note-partial">
    <h2 class="note-title" style="text-align:left;">A complete solution for development</h2>
    <div class="note-excerpt">
NextDeploy is a all-in-one solution for developing web sites. At destination to web agencies, to development teams or to single developer, NextDeploy allows the initiation of web project on the fly, and then the precise tracking on successive developments on this project.<br/><br/></div> 
    <div class="note-excerpt">
    Thus, each project actor (Developer, Project Manager, Client) have the opportunity to have their own websites dedicated to test and validate any version (update or earlier) of the project.<br/>
    </div>

    </article>
    </p>

    <p style="text-align:left;">
    <article class="note note-partial">
    <h2 class="note-title" style="text-align:left;">Continuous development cycle</h2>
    <div class="note-excerpt">
<ul><li> As soon as a change is made on the project, it is ready to be tested by all the project members</li>
<li>Each user has his own environment, which brings flexibility, insulation and performance</li>
<li>For a new developer in project, functional environment of this one is ready for use on the cloud. he is thus immediately operational.</li>
<li>NextDeploy has 3 different interfaces and simple to use: a Web interface from anywhere, a mobile app and a software "command line" for developers</li>
</ul>
</div>

    </article>
    </p>
</div>
</div>