<div class="jumbotron">
      <div class="container-fluid">
        {{application-header isTitle=isTitle}}
        {{#if isTitle}}
        <ul class="jumbotron-links">
          {{#link-to 'home' tagName='li' classNames="simplify" href=false}}<a class="btn btn-outline btn-sm simplify" href=""><span class="fa fa-home fa-2x"></span></a>{{/link-to}}
          {{#link-to 'what' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-lightbulb-o fa-2x"></span></a>{{/link-to}}
          {{#link-to 'video' tagName='li' classNames="simplify2" href=false}}<a class="btn btn-outline btn-sm simplify2" href=""><span class="fa fa-video-camera fa-2x"></span></a>{{/link-to}}
          {{#link-to 'screen' tagName='li' href=false classNames="simplify2"}}<a class="btn btn-outline btn-sm simplify2" href=""><span class="fa fa-photo fa-2x"></span></a>{{/link-to}}
          {{#link-to 'news' tagName='li' classNames="simplify" href=false}}<a class="btn btn-outline btn-sm simplify" href=""><span class="fa fa-info fa-2x"></span></a>{{/link-to}}
          <li><a class="btn btn-outline btn-sm" href="https://trello.com/b/dVdgtJxE/nextdeploy" target="_blank"><span class="fa fa-calendar fa-2x"></span></a></li>
          {{#link-to 'github' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-github fa-2x"></span></a>{{/link-to}}
          {{#link-to 'twitter' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-twitter fa-2x"></span></a>{{/link-to}}
          {{#link-to 'about' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-at fa-2x"></span></a>{{/link-to}}
        </ul><br/>
        {{else}}
        <ul class="jumbotron-links navbar-fixed-top">
          {{#link-to 'home' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-home fa-2x"></span></a>{{/link-to}}
          {{#link-to 'what' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-lightbulb-o fa-2x"></span></a>{{/link-to}}
          {{#link-to 'video' tagName='li' classNames="simplify2" href=false}}<a class="btn btn-outline btn-sm simplify2" href=""><span class="fa fa-video-camera fa-2x"></span></a>{{/link-to}}
          {{#link-to 'screen' tagName='li' classNames="simplify2" href=false}}<a class="btn btn-outline btn-sm simplify2" href=""><span class="fa fa-photo fa-2x"></span></a>{{/link-to}}
          {{#link-to 'news' tagName='li' classNames="simplify" href=false}}<a class="btn btn-outline btn-sm simplify" href=""><span class="fa fa-info fa-2x"></span></a>{{/link-to}}
          <li><a class="btn btn-outline btn-sm" href="https://trello.com/b/dVdgtJxE/nextdeploy" target="_blank"><span class="fa fa-calendar fa-2x"></span></a></li>
          {{#link-to 'github' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-github fa-2x"></span></a>{{/link-to}}
          {{#link-to 'twitter' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-twitter fa-2x"></span></a>{{/link-to}}
          {{#link-to 'about' tagName='li' href=false}}<a class="btn btn-outline btn-sm" href=""><span class="fa fa-at fa-2x"></span></a>{{/link-to}}
        </ul><br/><br/>
        {{/if}}
        {{outlet}}
    </div>
</div>
{{#if isBottom}}
<div class="bottom"></div>
{{/if}}
